* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
html {
  position: relative;
}

#detail_shop {
  height: 100%;
  overflow: hidden;
}

#detail_shop .out_detail {
  height: 6rem;
  background: #9398e4;
  font-size: 1.866667rem;
  padding-left: .666667rem;
  color: #fff;
  font-weight: 900;
  position: relative;
}

#detail_shop .out_detail img {
  display: block;
  height: 5.333333rem;
  position: absolute;
  top: 3rem;
  left: 40%;
}

#detail_shop .out_detail .p_pai {
  font-size: .48rem;
  font-weight: normal;
  color: #777;
  z-index: 2;
  padding: .133333rem .266667rem;
  background: #ffc403;
  position: absolute;
  top: 3rem;
  left: 40%;
}

#detail_shop #DF2 .df_2 {
  margin-top: 2.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#detail_shop #DF2 .df_2 .p1_1 {
  font-size: 1.633333rem;
  text-align: center;
  width: 100%;
  position: relative;
}

#detail_shop #DF2 .df_2 .p1_1 span {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#detail_shop #DF2 .df_2 .p1_1 .icon-you {
  position: absolute;
  top: .666667rem;
  right: -4.633333rem;
}

#detail_shop #DF2 .df_2 .p1_2 {
  margin-top: .4rem;
  font-size: .753333rem;
  color: #777;
}

#detail_shop #DF2 .df_2 .p1_2 span:nth-child(4) {
  margin-left: .833333rem;
}

#detail_shop #DF2 .df_2 .p1_3 {
  margin-top: .4rem;
  position: relative;
  display: flex;
}

#detail_shop #DF2 .df_2 .p1_3 span:nth-child(1) {
  font-size: .253333rem !important;
  display: block;
  margin-right: .2rem;
}

#detail_shop #DF2 .df_2 .p1_3 span:nth-child(n+1) {
  font-size: .253333rem !important;
  display: block;
  margin-right: .233333rem;
}

#detail_shop #DF2 .df_2 .p1_3 .vanCell {
  width: 4.666667rem;
  text-align: center;
  line-height: 1.333333rem;
  height: 1.333333rem;
}

#detail_shop #DF2 .df_2 .p1_3 .vanCell .van-cell__value {
  height: 100%;
}

#detail_shop #DF2 .df_2 .p1_3 .vanCell .van-cell__value span {
  display: block;
  height: 1.333333rem !important;
}

#detail_shop #DF2 .df_2 .p1_3 .vanCell .van-cell__right-icon {
  margin-top: -0.063333rem;
  margin-left: -0.2rem !important;
}

#detail_shop #DF2 .df_2 .p1_3 .van-cell {
  padding: 0 !important;
}

#detail_shop #DF2 .df_2 .p1_4 {
  margin-top: .4rem;
  font-size: .56rem;
  color: #888;
}

#detail_shop #DF2 .df_2 .p1_4 span:nth-child(1) {
  margin-right: .266667rem;
}

#detail_shop .van-tabs__content {
  height: 13.333333rem;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 h3 {
  padding-left: 1.033333rem;
  font-weight: 400;
  font-size: 1.233333rem;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 .g_Card {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 .g_Card li {
  width: 8rem;
  margin: .133333rem .6rem;
  background: #f7f3f3;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 .g_Card li img {
  display: block;
  height: 8rem;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 .g_Card li .g_C1 {
  box-sizing: border-box;
  padding: .266667rem;
  padding-bottom: .133333rem;
  font-size: .906667rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 .g_Card li .g_C2 {
  color: #666;
  font-size: .253333rem;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 .g_Card li .g_C3 {
  font-size: .906667rem;
  color: #ff5339;
  position: relative;
  padding-bottom: .333333rem;
}

#detail_shop .van-tabs__content .van-tab__pane .G_card_1 .g_Card li .g_C3 .g_add {
  position: absolute;
  top: -0.133333rem;
  right: .266667rem;
  display: block;
  background: #58c;
  color: #fff;
  border-radius: 50%;
  line-height: 1.333333rem;
  height: 1.333333rem;
  text-align: center;
  width: 1.333333rem;
}

#detail_shop .floor_jump {
  background: #dceee4;
  width: 5.233333rem;
  font-size: .613333rem;
  margin-top: 1.333333rem;
  float: left;
}

#detail_shop .floor_jump .top_tip {
  margin: .266667rem;
  color: #333;
  text-align: center;
}

#detail_shop .floor_jump .top_tip img {
  height: .866667rem;
  display: inline-block;
  margin-right: .266667rem;
}

#detail_shop .floor_jump .Sidebar .van-sidebar-item__text {
  font-size: .613333rem !important;
  color: #333;
}

#detail_shop .d_goods_list {
  float: right;
  width: 75%;
}

#detail_shop .d_goods_list .f1_,
#detail_shop .d_goods_list .floor_all {
  width: 100%;
}

#detail_shop .d_goods_list .f1_ h3,
#detail_shop .d_goods_list .floor_all h3 {
  font-size: 1rem;
}

#detail_shop .d_goods_list .f1_ .list_f_1 span:nth-child(1),
#detail_shop .d_goods_list .floor_all .list_f_1 span:nth-child(1) {
  font-size: 1.04rem;
  color: #222;
}

#detail_shop .d_goods_list .f1_ .list_f_1 span:nth-child(2),
#detail_shop .d_goods_list .floor_all .list_f_1 span:nth-child(2) {
  font-size: .72rem;
  color: #566;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d,
#detail_shop .d_goods_list .floor_all .list_f_1_d {
  width: 100%;
  display: flex;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_left,
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_left {
  float: left;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_left img,
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_left img {
  height: 6.666667rem;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_right,
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_right {
  float: left;
  width: 62%;
  box-sizing: border-box;
  padding: .266667rem;
  padding-left: .533333rem;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_right .list_f_1_right_p1,
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_right .list_f_1_right_p1 {
  font-size: .813333rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #555;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_right .list_f_1_right_p2,
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_right .list_f_1_right_p2 {
  font-size: .16rem;
  color: #777;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_right .list_f_1_right_p3,
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_right .list_f_1_right_p3 {
  margin-top: 1.066667rem;
  position: relative;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_right .list_f_1_right_p3 span:nth-child(1),
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_right .list_f_1_right_p3 span:nth-child(1) {
  color: #ff5339;
}

#detail_shop .d_goods_list .f1_ .list_f_1_d .list_f_1_right .list_f_1_right_p3 .add_,
#detail_shop .d_goods_list .floor_all .list_f_1_d .list_f_1_right .list_f_1_right_p3 .add_ {
  position: absolute;
  top: -0.133333rem;
  right: .266667rem;
  display: block;
  background: #58c;
  color: #fff;
  border-radius: 50%;
  line-height: 1.333333rem;
  height: 1.333333rem;
  text-align: center;
  width: 1.333333rem;
}

#detail_shop .d_goods_list .floor_all .h3_ {
  font-weight: 400;
  font-size: .453333rem;
  color: #555;
}

#detail_shop .B_pupop_B .goodsRule .gR_top {
  height: 7rem;
  width: 100%;
  position: relative;
}

#detail_shop .B_pupop_B .goodsRule .gR_top img {
  display: block;
  height: 100%;
  float: left;
}

#detail_shop .B_pupop_B .goodsRule .gR_top .gR_top_right {
  height: 100%;
  float: left;
  margin-left: 1.333333rem;
  padding-top: .533333rem;
}

#detail_shop .B_pupop_B .goodsRule .gR_top .gR_top_right .No {
  position: absolute;
  top: .4rem;
  right: .8rem;
  font-size: 1.333333rem;
}

#detail_shop .B_pupop_B .goodsRule .gR_top .gR_top_right .rules {
  font-size: .613333rem;
  color: #777;
}

#detail_shop .B_pupop_B .goodsRule .gR_top .gR_top_right .payfor {
  margin-top: 2rem;
  color: #d86a6a;
}

#detail_shop .B_pupop_B .goodsRule .gR_bottom {
  width: 100%;
  padding-left: 0.666667rem;
}

#detail_shop .B_pupop_B .goodsRule .gR_bottom .SML,
#detail_shop .B_pupop_B .goodsRule .gR_bottom .temp {
  width: 100%;
  overflow: hidden;
}

#detail_shop .B_pupop_B .goodsRule .gR_bottom .SML p,
#detail_shop .B_pupop_B .goodsRule .gR_bottom .SML ul,
#detail_shop .B_pupop_B .goodsRule .gR_bottom .temp p,
#detail_shop .B_pupop_B .goodsRule .gR_bottom .temp ul {
  width: 100%;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

#detail_shop .B_pupop_B .goodsRule .gR_bottom .SML p li,
#detail_shop .B_pupop_B .goodsRule .gR_bottom .SML ul li,
#detail_shop .B_pupop_B .goodsRule .gR_bottom .temp p li,
#detail_shop .B_pupop_B .goodsRule .gR_bottom .temp ul li {
  display: block;
  float: left;
  box-sizing: border-box;
  padding: .666667rem 2.666667rem;
  border: 1px solid #58c;
  margin-right: .666667rem;
  color: #777;
}

#detail_shop .B_pupop_B .goodsRule .gR_bottom .OK {
  width: 100%;
  height: 3.333333rem;
  line-height: 3.333333rem;
  background: #fa4c4c;
  color: #fff;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
}

#detail_shop .D_buttom {
  height: 4rem;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  bottom: 0;
}

#detail_shop .D_buttom .W,
#detail_shop .D_buttom .O {
  position: absolute;
  border-radius: 50%;
}

#detail_shop .D_buttom .W {
  height: 3rem;
  width: 3rem;
  background: #3d3939;
  left: 6%;
  bottom: 60%;
}

#detail_shop .D_buttom .O {
  height: 2rem;
  width: 2rem;
  background: #516151;
  left: 8%;
  bottom: 70%;
  text-align: center;
  line-height: 2rem;
}

#detail_shop .D_buttom .jiesuan {
  height: 100%;
}

#detail_shop .D_buttom .jiesuan .B_left {
  width: 40%;
  height: 100%;
  float: left;
  margin-left: 4.333333rem;
  text-align: center;
  padding-top: .533333rem;
  box-sizing: border-box;
}

#detail_shop .D_buttom .jiesuan .B_right {
  width: 20%;
  height: 100%;
  float: right;
  text-align: center;
  padding-top: 1.4rem;
  box-sizing: border-box;
}

.fixedTabbar {
  width: 100%;
  background: #fff;
  z-index: 9999;
  position: fixed !important;
  top: 0;
  left: 0;
  border-bottom: none;
}

.fixedNav {
  position: fixed;
  top: 1.333333rem;
  left: 0;
}

.shopmassage .smsgfloor {
  float: left;
}
