* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
html {
    position: relative;
}

#detail_shop {
    height: 100%;
    overflow: hidden;

    .out_detail {
        height: 6rem;
        background: rgb(147, 152, 228);
        font-size: 1.866667rem;
        padding-left: .666667rem;
        color: #fff;
        font-weight: 900;
        position: relative;

        img {
            display: block;
            height: 5.333333rem;
            position: absolute;
            top: 3rem;
            left: 40%;
        }

        .p_pai {
            font-size: .48rem;
            font-weight: normal;
            color: #777;
            z-index: 2;
            padding: .133333rem .266667rem;
            background: rgb(255, 196, 3);
            position: absolute;
            top: 3rem;
            left: 40%;
        }
    }

    #DF2 {

        .df_2 {
            margin-top: 2.8rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            .p1_1 {
                font-size: 1.633333rem;
                text-align: center;
                width: 100%;
                position: relative;

                span {
                    display: block;
                    width: 60%;
                    margin: 0 auto;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .icon-you {
                    position: absolute;
                    top: .666667rem;
                    right: -4.633333rem;
                }
            }

            .p1_2 {
                margin-top: .4rem;
                font-size: .753333rem;
                color: #777;

                span:nth-child(4) {
                    margin-left: .833333rem;
                }
            }

            .p1_3 {

                margin-top: .4rem;
                position: relative;
                display: flex;

                span:nth-child(1) {
                    font-size: .253333rem !important;
                    display: block;
                    margin-right: .2rem;
                }

                span:nth-child(n+1) {
                    font-size: .253333rem !important;
                    display: block;
                    margin-right: .233333rem;
                }

                .vanCell {
                    width: 4.666667rem;
                    text-align: center;
                    line-height: 1.333333rem;
                    height: 1.333333rem;
                    // background: red;

                    .van-cell__value {
                        height: 100%;

                        span {
                            display: block;
                            height: 1.333333rem !important;
                        }

                    }

                    .van-cell__right-icon {
                        margin-top: -0.063333rem;
                        margin-left: -0.2rem !important;
                    }
                }

                .van-cell {
                    padding: 0 !important;
                }
            }

            .p1_4 {
                margin-top: .4rem;
                font-size: .56rem;
                color: #888;

                span:nth-child(1) {
                    margin-right: .266667rem;
                }
            }
        }

    }

    .van-tabs__content {

        height: 13.333333rem;
        // background: green;

        .van-tab__pane {
            .G_card_1 {
                h3 {
                    padding-left: 1.033333rem;
                    font-weight: 400;
                    font-size: 1.233333rem;
                }

                .g_Card {
                    display: flex;
                    flex-direction: row;
                    overflow-y: scroll;

                    li {
                        width: 8rem;
                        margin: .133333rem .6rem;
                        background: rgb(247, 243, 243);

                        img {
                            display: block;
                            height: 8rem;
                        }

                        .g_C1 {
                            // color: #777;
                            box-sizing: border-box;
                            padding: .266667rem;
                            padding-bottom: .133333rem;
                            font-size: .906667rem;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .g_C2 {
                            color: #666;
                            font-size: .253333rem;
                        }

                        .g_C3 {
                            font-size: .906667rem;
                            color: rgb(255, 83, 57);
                            position: relative;
                            padding-bottom: .333333rem;


                            .g_add {
                                position: absolute;
                                top: -0.133333rem;
                                right: .266667rem;
                                display: block;
                                background: #58c;
                                color: #fff;
                                border-radius: 50%;
                                line-height: 1.333333rem;
                                height: 1.333333rem;
                                text-align: center;
                                width: 1.333333rem;
                            }
                        }


                    }

                }

            }
        }
    }

    .floor_jump {
        background: rgb(220, 238, 228);
        width: 5.233333rem;
        font-size: .613333rem;
        margin-top: 1.333333rem;
        float: left;

        .top_tip {
            margin: .266667rem;
            color: #333;
            text-align: center;


            img {
                height: .866667rem;
                display: inline-block;
                margin-right: .266667rem;
                ;
            }
        }

        .Sidebar {
            .van-sidebar-item__text {
                font-size: .613333rem !important;
                color: #333;
            }
        }
    }

    .d_goods_list {
        float: right;
        width: 75%;

        .f1_,
    
        .floor_all {
            width: 100%;

            h3 {
                font-size: 1rem;
            }

            .list_f_1 {
                span:nth-child(1) {
                    font-size: 1.04rem;
                    color: #222;
                }

                span:nth-child(2) {
                    font-size: .72rem;
                    color: #566;
                }
            }

            .list_f_1_d {
                width: 100%;
                display: flex;

                .list_f_1_left {
                    float: left;

                    img {
                        height: 6.666667rem;
                    }
                }

                .list_f_1_right {
                    float: left;
                    width: 62%;
                    box-sizing: border-box;
                    padding: .266667rem;
                    padding-left: .533333rem;



                    .list_f_1_right_p1 {
                        // width: 60%;
                        font-size: .813333rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        color: #555;
                    }

                    .list_f_1_right_p2 {
                        font-size: .16rem;
                        color: #777;
                    }

                    .list_f_1_right_p3 {
                        margin-top: 1.066667rem;
                        position: relative;

                        span:nth-child(1) {
                            color: rgb(255, 83, 57);
                        }

                        .add_ {
                            position: absolute;
                            top: -0.133333rem;
                            right: .266667rem;
                            display: block;
                            background: #58c;
                            color: #fff;
                            border-radius: 50%;
                            line-height: 1.333333rem;
                            height: 1.333333rem;
                            text-align: center;
                            width: 1.333333rem;
                        }
                    }
                }
            }
        }

        .floor_all {
            .h3_ {
                font-weight: 400;
                font-size: .453333rem;
                color: #555;
            }
        }


    }

    .B_pupop_B {

        .goodsRule {
            .gR_top {
                height: 7rem;
                // background: green;
                width: 100%;
                position: relative;

                img {
                    display: block;
                    height: 100%;
                    float: left;
                }

                .gR_top_right {
                    // background: green;
                    height: 100%;
                    float: left;
                    margin-left: 1.333333rem;
                    padding-top: .533333rem;


                    .No {
                        position: absolute;
                        top: .4rem;
                        right: .8rem;
                        font-size: 1.333333rem;
                    }

                    .rules {
                        font-size: .613333rem;
                        color: #777;
                    }

                    .payfor {
                        margin-top: 2rem;
                        color: rgb(216, 106, 106);
                    }

                }
            }

            .gR_bottom {
                width: 100%;
                // background: lightcoral;
                padding-left: 0.666667rem;


                .SML,
                .temp {
                    width: 100%;
                    overflow: hidden;

                    p,
                    ul {
                        width: 100%;
                        margin-top: .8rem;
                        margin-bottom: .8rem;



                        li {
                            display: block;
                            float: left;
                            box-sizing: border-box;
                            padding: .666667rem 2.666667rem;
                            border: 1px solid #58c;
                            margin-right: .666667rem;
                            color: #777;

                        }
                    }
                }

                .OK {
                    width: 100%;
                    height: 3.333333rem;
                    line-height: 3.333333rem;
                    background: rgb(250, 76, 76);
                    color: #fff;
                    position: absolute;
                    text-align: center;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }

    .D_buttom {
        height: 4rem;
        width: 100%;
        color: #fff;

        background: rgba(0, 0, 0, .9);
        position: fixed;
        left: 0;
        bottom: 0;

        // position: relative;
        .W,
        .O {
            position: absolute;
            border-radius: 50%;

        }

        .W {
            height: 3rem;
            width: 3rem;
            background: rgb(61, 57, 57);
            left: 6%;
            bottom: 60%;
        }

        .O {
            height: 2rem;
            width: 2rem;
            background: rgb(81, 97, 81);
            left: 8%;
            bottom: 70%;
            text-align: center;
            line-height: 2rem;
        }

        .jiesuan {
            height: 100%;

            .B_left {
                width: 40%;
                height: 100%;
                // background: olive;
                float: left;
                margin-left: 4.333333rem;
                text-align: center;
                padding-top: .533333rem;
                box-sizing: border-box;
            }

            .B_right {
                width: 20%;
                height: 100%;
                // background: olive;
                float: right;
                text-align: center;
                padding-top: 1.4rem;
                box-sizing: border-box;
            }
        }
    }

}

.fixedTabbar {
    width: 100%;
    background: #fff;
    z-index: 9999;
    position: fixed !important;
    top: 0;
    left: 0;
    border-bottom: none;
}

.fixedNav {
    position: fixed;
    top: 1.333333rem;
    left: 0;

}

.shopmassage {
    .smsgfloor{
        float: left;
    }
}