* {
    padding: 0;
    margin: 0;
}

.found {
    background: rgb(238, 228, 228);
    width: 100%;
    height: 40rem;

    .top {
        height: 12rem;
        background: #fff;
        display: flex;
        align-items: center;

        img {
            display: block;
            height: 4rem;
        }

        .top_left,
        .top_right {
            height: 90%;
            width: 50%;

            .text {
                margin-top: .8rem;
                margin-left: 1.066667rem;
            }

            .title {
                display: block;
                font-size: 1.066667rem;
            }

            .tips {
                font-size: .746667rem;
                color: #777;
            }

        }

        .top_left {
            border-right: .013333rem solid rgb(219, 213, 213);
            box-sizing: border-box;
            position: relative;

            .text {
                margin-top: .8rem;
                margin-left: 1.066667rem;

                img {
                    height: 6rem;
                    position: absolute;
                    right: .533333rem;
                    bottom: 0;
                }

                .title {
                    color: rgb(255, 153, 0);
                }
            }
        }

        .top_right {
            .text1 {
                position: relative;
                height: 50%;
                padding-top: 1.2rem;
                padding-left: .4rem;
                box-sizing: border-box;

                img {
                    position: absolute;
                    right: 0;
                    top: 1.333333rem;
                    height: 3.333333rem;
                }
            }

            .left {
                border-bottom: 1px solid rgb(241, 232, 232);
                box-sizing: border-box;

                .title {
                    color: rgb(27, 169, 225);
                }
            }

            .right {
                .title {
                    color: rgb(237, 102, 96);
                }
            }
        }
    }

    .top_t {
        margin-top: .666667rem;
        background: #fff;
        text-align: center;
        padding-top: 1.333333rem;

        i {
            font-size: 1.333333rem;
            color: rgb(237, 102, 96);
        }

        .time {
            font-size: 1.333333rem;
            font-weight: 600;
            color: rgb(65, 53, 53);
        }

        .gold {
            color: #777;
            font-size: .853333rem;
        }
    }

    .goods1 {
        margin: 0;
        border: none;
    }

    #goodscard {
        padding-top: 2.666667rem;
        box-sizing: border-box;
        height: 12.333333rem;
        background: #fff;
        display: flex;
        flex-direction: row;

        .gid {
            flex: 1;
            position: relative;
            box-sizing: border-box;
            padding: .533333rem;

            .s1 {
                display: block;
                position: absolute;
                top: 0;
                color: #fff;
                font-size: .72rem;
                background: rgb(143, 130, 130);
                left: .133333rem;
            }

            img {
                display: block;
                width: 100%;
                margin-bottom: .666667rem;
                ;
            }

            p {
                font-size: .853333rem;
                color: #777;

                .g {
                    font-size: .72rem;
                    color: #ff5339;
                }

                .old {
                    margin-left: .4rem;
                    font-size: .453333rem;
                }
            }

            .title {
                width: 6.666667rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }

    .more {
        text-align: center;
        color: #333;
        padding: .666667rem;
        background: #fff;
    }
}

#moreF {
    // height: 40rem;
    background: rgb(238, 235, 235);
    line-height: 2rem;
    // margin-top: .666667rem;
    overflow: hidden;
    margin-bottom: .666667rem;

    .loginF {
        height: 2.266667rem;
        width: 100%;
        background: #fff;
        // padding: .533333rem .266667rem;
        position: fixed;
        top: 0;
        box-sizing: border-box;

        span {
            margin-left: .666667rem;;
            color: #333;
            font-size: .453333rem;
        }

        .yes {
            display: block;
            background: #ff5339;
            border: none;
            margin-top: .266667rem;
            margin-right: .666667rem;
            padding: 0 1.333333rem;
            font-size: .453333rem;
            color: #fff;
            border-radius: 1.3rem;
            float: right;
            height: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
        }
    }

    .f2 {
        background: #fff;
        margin-top: 2.866667rem;

        .found {
            height: auto;
            background: #fff;

            .top {
                .top_left {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .top_right {
                    .text1 {
                        padding: 0;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    #listS {
        // background: #fff;
        margin-top: .666667rem;

        .listS_ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            li {
                width: 50%;
                height: 13.333333rem;
                // background: chartreuse;

                .listS_ul_li_top {
                    height: 50%;

                    img {
                        width: 100%;

                    }
                }

                .listS_ul_li_bottom {
                    background: #fff;
                    width: 100%;
                    font-size: .613333rem;
                    padding: 1.333333rem .4rem .666667rem;
                    box-sizing: border-box;
                    box-shadow: 0 0 2px 0 #ccc;

                    p {
                        height: 1.6rem;
                    }

                    .title_der {
                        display: flex;
                        align-items: center;

                        span:nth-child(1) {
                            display: inline-block;
                            height: 1.2rem;
                            text-align: center;
                            white-space: nowrap;
                            margin-right: .266667rem;;
                            // padding: 0 .366667rem;
                            border-radius: .6rem;
                            box-sizing: border-box;
                            line-height: 1.2rem;
                            background: rgb(240, 217, 141);
                            // margin-right: .666667rem;
                        }

                        span:nth-child(2) {
                            display: inline-block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            // width: 4.466667rem;
                            white-space: nowrap;
                        }
                    }

                    .gold_dui {
                        padding-left: .666667rem;
                        box-sizing: border-box;
                        color: orange;
                    }

                    .dui_ {
                        float: right;
                        display: block;
                        text-align: center;
                        padding: 0 .666667rem;
                        border-radius: .7rem;
                        line-height: 1.333333rem;
                        height: 1.333333rem;
                        background: rgb(253, 87, 70);
                        color: #fff;
                    }
                }
            }
        }
    }
}