* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-align: none;
}

.goodlistpage .first_bar {
  position: relative;
}

.goodlistpage .first_bar .van-sticky .van-tabs__nav {
  background-color: #58c !important;
}

.goodlistpage .first_bar .van-sticky .van-tabs__nav .van-tab {
  color: #fff !important;
}

.goodlistpage .first_bar .van-sticky .van-tabs__nav .van-tabs__line {
  position: absolute;
  left: 0;
  bottom: 1.069rem !important;
  z-index: 4;
  height: 3px;
  background-color: #ee0a24;
  border-radius: 3px;
}

.goodlistpage .first_bar .van-tabs__content {
  margin-top: 2.066667rem;
}

.goodlistpage .first_bar .second_bar {
  width: 100%;
  background: #fff !important;
  position: fixed;
  z-index: 20004;
  top: 2.633333rem;
  margin-top: 0 !important;
}
