.login .login_img_logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.333333rem;
}

.login .login_img_logo img {
  display: block;
  height: 4rem;
}

.login .login_tabbel form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .login_tabbel form .log_ {
  border: 1px solid #ccc;
  margin-bottom: 1.333333rem;
  height: 2.666667rem;
  width: 20rem;
  position: relative;
  border-radius: .266667rem;
}

.login .login_tabbel form .log_ input {
  padding-left: .4rem;
  box-sizing: border-box;
  border: none;
  display: block;
  height: 100%;
  width: 100%;
}

.login .login_tabbel form .log_ .getMa {
  display: block;
  color: #ccc;
  position: absolute;
  top: .666667rem;
  right: .266667rem;
}

.login .login_tabbel form .log_ .Tips_box {
  color: red;
  margin-top: .133333rem;
  font-size: .426667rem;
}

.login .login_tabbel form .rule {
  width: 80%;
  font-size: .853333rem;
  color: #777;
}

.login .login_tabbel form .log_in {
  margin-top: 2rem;
  background: #58bc59;
  display: block;
  width: 20rem;
  border: none;
  height: 2.666667rem;
  color: #fff;
}

.login .login_tabbel form .about {
  color: #777;
  margin-top: 1.333333rem;
}

.login .van-popup {
  height: 10.333333rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .van-popup h3 {
  margin-top: 1.333333rem;
  margin-bottom: .533333rem;
}

.login .van-popup .in {
  position: relative;
  width: 90%;
  height: 2.666667rem;
  box-shadow: 0 0 1px 1px #c7c0c0;
}

.login .van-popup .in input {
  border: none;
  width: 100%;
  height: 100%;
}

.login .van-popup .in .code {
  height: 100%;
  text-align: center;
  line-height: 2.666667rem;
  position: absolute;
  top: 0;
  right: 0;
}

.login .van-popup .in .code .s-canvas {
  font-weight: 500 !important;
}

.login .van-popup .in #show1 {
  color: red;
  margin-top: .133333rem;
  font-size: .426667rem;
}

.login .van-popup .btn {
  display: flex;
  margin-top: 2rem;
  height: 2.666667rem;
  width: 100%;
  background: coral;
}

.login .van-popup .btn button {
  box-sizing: border-box;
  border: none;
  height: 100%;
  width: 50%;
}

.login .van-popup .btn button:nth-child(2) {
  color: #58c;
}
