* {
    padding: 0;
    margin: 0;
}

.Mine {
    height: 40rem;
    background: rgb(226, 221, 221);
}

.mine {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(90deg, #0af, #0085ff);

    .profile-3g0uv {
        display: flex;
        color: #fff;
        margin-left: 1.333333rem;
        -webkit-align-items: center;
        align-items: center;

        .index-18Ili {
            margin-right: 1.333333rem;
            width: 3.333333rem !important;
            height: 3.333333rem !important;

            img {
                width: 3.333333rem !important;
                border-radius: 50%;
            }
        }

        .profile-xfCcC {
            .profile-1_mtk {
                font-size: 1.333333rem;
            }

            .jiantou {
                position: absolute;
                right: 0;
            }
        }

    }
}

.bianli {
    margin-top: 0;
}

.van-grid {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .van-grid-item {
        color: #666;
        font-weight: 700;

        .van-icon-bill {
            display: block;
            text-align: center;
            border-radius: 50%;
            line-height: 2.666667rem;
            height: 2.666667rem;
            width: 2.666667rem;
            background: rgb(255, 95, 62);
            color: #fff;
        }

        .van-icon-gold-coin {
            display: block;
            text-align: center;
            border-radius: 50%;
            line-height: 2.666667rem;
            height: 2.666667rem;
            width: 2.666667rem;
            background: rgb(106, 194, 11);
            color: #fff;
        }
    }
}

.f1,
.f2,
.f3 {
    margin-top: .533333rem;
}

.f1 {
    .van-icon-location {
        font-size: 1.6rem;
        color: rgb(74, 165, 240);
    }
}

.f2 {
    .van-icon-bill {
        font-size: 1.6rem;
        color: rgb(148, 217, 74);
    }

    .van-icon-gold-coin {
        font-size: 1.6rem;
        color: rgb(252, 123, 83);
    }
}

.f3 {
    .van-icon-service {
        font-size: 1.6rem;
        color: rgb(74, 165, 240);
    }

    .van-icon-add-square {
        font-size: 1.6rem;
        color: rgb(74, 165, 240)
    }

    .van-icon-comment {
        font-size: 1.6rem;
        color: rgb(74, 165, 240)
    }
}
.f4{
    text-align: center;
    a{
        color: rgb(111, 180, 245);
    }
}